:root {
    --spiritfitrublack: rgba(0, 0, 0, 1);
    --spiritfitruelectric-violet: rgba(120, 10, 250, 1);
    --spiritfitrured-orange: rgba(255, 68, 51, 1);
    --spiritfitruvermilion: rgba(252, 64, 0, 1);
    --spiritfitruwhite: rgba(255, 255, 255, 1);
    --spiritfit-ru-gotham-pro-black-upper-font-family: "Gotham Pro", Helvetica;
    --spiritfit-ru-gotham-pro-black-upper-font-weight: 500;
    --spiritfit-ru-gotham-pro-black-upper-font-size: 40px;
    --spiritfit-ru-gotham-pro-black-upper-letter-spacing: 0px;
    --spiritfit-ru-gotham-pro-black-upper-line-height: 48px;
    --spiritfit-ru-gotham-pro-black-upper-font-style: normal;
    --spiritfit-ru-gotham-pro-bold-upper-font-family: "Gotham Pro", Helvetica;
    --spiritfit-ru-gotham-pro-bold-upper-font-weight: 700;
    --spiritfit-ru-gotham-pro-bold-upper-font-size: 13px;
    --spiritfit-ru-gotham-pro-bold-upper-letter-spacing: 0px;
    --spiritfit-ru-gotham-pro-bold-upper-line-height: 13px;
    --spiritfit-ru-gotham-pro-bold-upper-font-style: normal;
    --spiritfit-ru-gotham-pro-light-font-family: "Gotham Pro", Helvetica;
    --spiritfit-ru-gotham-pro-light-font-weight: 500;
    --spiritfit-ru-gotham-pro-light-font-size: 16px;
    --spiritfit-ru-gotham-pro-light-letter-spacing: 0px;
    --spiritfit-ru-gotham-pro-light-line-height: 24px;
    --spiritfit-ru-gotham-pro-light-font-style: normal;
    --spiritfit-ru-gotham-pro-medium-font-family: "Gotham Pro", Helvetica;
    --spiritfit-ru-gotham-pro-medium-font-weight: 500;
    --spiritfit-ru-gotham-pro-medium-font-size: 14px;
    --spiritfit-ru-gotham-pro-medium-letter-spacing: 0px;
    --spiritfit-ru-gotham-pro-medium-line-height: 18px;
    --spiritfit-ru-gotham-pro-medium-font-style: normal;
    --spiritfit-ru-gotham-pro-medium-upper-font-family: "Gotham Pro", Helvetica;
    --spiritfit-ru-gotham-pro-medium-upper-font-weight: 500;
    --spiritfit-ru-gotham-pro-medium-upper-font-size: 32px;
    --spiritfit-ru-gotham-pro-medium-upper-letter-spacing: 0px;
    --spiritfit-ru-gotham-pro-medium-upper-line-height: 38.400001525878906px;
    --spiritfit-ru-gotham-pro-medium-upper-font-style: normal;
    --spiritfit-ru-verdana-regular-underline-font-family: "Verdana", Helvetica;
    --spiritfit-ru-verdana-regular-underline-font-weight: 400;
    --spiritfit-ru-verdana-regular-underline-font-size: 11px;
    --spiritfit-ru-verdana-regular-underline-letter-spacing: 0px;
    --spiritfit-ru-verdana-regular-underline-line-height: 14px;
    --spiritfit-ru-verdana-regular-underline-font-style: normal;
    --spiritfit-ru-verdana-regular-font-family: "Verdana", Helvetica;
    --spiritfit-ru-verdana-regular-font-weight: 400;
    --spiritfit-ru-verdana-regular-font-size: 11px;
    --spiritfit-ru-verdana-regular-letter-spacing: 0px;
    --spiritfit-ru-verdana-regular-line-height: 14px;
    --spiritfit-ru-verdana-regular-font-style: normal;
    --spiritfit-ru-semantic-button-font-family: "Gotham Pro", Helvetica;
    --spiritfit-ru-semantic-button-font-weight: 500;
    --spiritfit-ru-semantic-button-font-size: 15px;
    --spiritfit-ru-semantic-button-letter-spacing: 0px;
    --spiritfit-ru-semantic-button-line-height: 18px;
    --spiritfit-ru-semantic-button-font-style: normal;
    --spiritfit-ru-semantic-heading-1-font-family: "Gotham Pro", Helvetica;
    --spiritfit-ru-semantic-heading-1-font-weight: 500;
    --spiritfit-ru-semantic-heading-1-font-size: 28px;
    --spiritfit-ru-semantic-heading-1-letter-spacing: 0px;
    --spiritfit-ru-semantic-heading-1-line-height: 28px;
    --spiritfit-ru-semantic-heading-1-font-style: normal;
    --spiritfit-ru-semantic-heading-2-upper-font-family: "Gotham Pro", Helvetica;
    --spiritfit-ru-semantic-heading-2-upper-font-weight: 500;
    --spiritfit-ru-semantic-heading-2-upper-font-size: 32px;
    --spiritfit-ru-semantic-heading-2-upper-letter-spacing: 1.2799999713897705px;
    --spiritfit-ru-semantic-heading-2-upper-line-height: 36px;
    --spiritfit-ru-semantic-heading-2-upper-font-style: normal;
    --spiritfit-ru-semantic-item-font-family: "Gotham Pro", Helvetica;
    --spiritfit-ru-semantic-item-font-weight: 500;
    --spiritfit-ru-semantic-item-font-size: 13px;
    --spiritfit-ru-semantic-item-letter-spacing: 0px;
    --spiritfit-ru-semantic-item-line-height: 15.600000381469727px;
    --spiritfit-ru-semantic-item-font-style: normal;
    --spiritfit-ru-semantic-label-font-family: "Gotham Pro", Helvetica;
    --spiritfit-ru-semantic-label-font-weight: 500;
    --spiritfit-ru-semantic-label-font-size: 14px;
    --spiritfit-ru-semantic-label-letter-spacing: 0px;
    --spiritfit-ru-semantic-label-line-height: 23.799999237060547px;
    --spiritfit-ru-semantic-label-font-style: normal;
    --spiritfit-ru-semantic-label-underline-font-family: "Gotham Pro", Helvetica;
    --spiritfit-ru-semantic-label-underline-font-weight: 500;
    --spiritfit-ru-semantic-label-underline-font-size: 14px;
    --spiritfit-ru-semantic-label-underline-letter-spacing: 0px;
    --spiritfit-ru-semantic-label-underline-line-height: 23.799999237060547px;
    --spiritfit-ru-semantic-label-underline-font-style: normal;
    --spiritfit-ru-semantic-link-font-family: "Gotham Pro", Helvetica;
    --spiritfit-ru-semantic-link-font-weight: 500;
    --spiritfit-ru-semantic-link-font-size: 16px;
    --spiritfit-ru-semantic-link-letter-spacing: 0px;
    --spiritfit-ru-semantic-link-line-height: 19.200000762939453px;
    --spiritfit-ru-semantic-link-font-style: normal;
    --spiritfit-ru-semantic-link-underline-font-family: "Gotham Pro", Helvetica;
    --spiritfit-ru-semantic-link-underline-font-weight: 500;
    --spiritfit-ru-semantic-link-underline-font-size: 16px;
    --spiritfit-ru-semantic-link-underline-letter-spacing: 0px;
    --spiritfit-ru-semantic-link-underline-line-height: 24px;
    --spiritfit-ru-semantic-link-underline-font-style: normal;
    --spiritfit-ru-semantic-link-upper-font-family: "Gotham Pro", Helvetica;
    --spiritfit-ru-semantic-link-upper-font-weight: 700;
    --spiritfit-ru-semantic-link-upper-font-size: 14px;
    --spiritfit-ru-semantic-link-upper-letter-spacing: 0px;
    --spiritfit-ru-semantic-link-upper-line-height: 16.799999237060547px;
    --spiritfit-ru-semantic-link-upper-font-style: normal;
    --spiritfit-ru-arial-regular-font-family: "Arial", Helvetica;
    --spiritfit-ru-arial-regular-font-weight: 400;
    --spiritfit-ru-arial-regular-font-size: 12px;
    --spiritfit-ru-arial-regular-letter-spacing: 0px;
    --spiritfit-ru-arial-regular-line-height: 24px;
    --spiritfit-ru-arial-regular-font-style: normal;
  }
  